@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}

main {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 0 60px 15px 60px;
  background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
header nav {
  background-image: none;
}
header nav .background-logo {
  background-image: none;
}
header nav .background-logo .navbar-toggler {
  width: 20%;
}
header .nav-link {
  padding-left: 15px !important;
}
@media (min-width: 481px) {
  header .nav-link {
    font-size: 14px;
  }
}
@media (min-width: 1025px) {
  header .nav-link {
    font-size: 22px;
    font-weight: bold;
  }
}

footer {
  padding: 25px;
  background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
footer #redes {
  display: flex;
  justify-content: space-evenly;
}
footer #redes .redesIcono {
  width: 50px;
  height: 50px;
}
footer #info {
  padding-top: 28px;
  text-align: center;
}
@media (min-width: 768px) {
  footer #info {
    padding-top: 0px;
    text-align: left;
  }
}
footer #info div {
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}
footer #info div a {
  text-decoration: none;
  font-weight: bold;
}
footer #info div a:visited, footer #info div a:hover {
  color: black;
}

.contacto .imagen-mariana {
  margin-top: 80px;
}
.contacto .contact_form {
  width: 100%;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  max-width: 460px;
  min-width: 320px;
  padding-right: 30px;
}
.contacto .contact_form input {
  background-color: #fbfbfb;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contacto .contact_form textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.contacto .contact_form label {
  display: block;
  float: center;
}
.contacto .contact_form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}
.contacto .contact_form button p {
  color: #fff;
}
.contacto .contact_form span {
  color: #ab4493;
}
.contacto .contact_form .aviso {
  font-size: 13px;
  color: #0e0e0e;
}
.contacto .contact_form h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}
.contacto .contact_form h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}
.contacto .contact_form p {
  font-size: 14px;
  color: #0e0e0e;
}
.contacto .contact_form ::-webkit-input-placeholder {
  color: #a8a8a8;
}
.contacto .contact_form ::-webkit-textarea-placeholder {
  color: #a8a8a8;
}
.contacto .contact_form .formulario input:focus, .contacto .contact_form .formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

section .columna {
  width: 45%;
  display: inline-block;
  padding: 6px;
  vertical-align: top;
}
section #columna-izquierda div {
  background-color: white;
  padding: 4px;
}
section .contenedorQuienes {
  display: inline-block;
  padding: 25px;
  background-color: none;
}

section .carrousel-dimension2 {
  width: 35%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
