@import 'base/variables';
@import 'base/mixin';
@import 'base/estilosGenerales';
@import 'components/header';
@import 'components/footer';
@import 'components/contacto';
@import 'components/quienessomos';
@import 'components/fotos';
@import 'components/nuestrascasas';
@import 'components/index';

