*{
    margin: 0;
    padding: 0;
}
*{font-family: Arial, Helvetica, sans-serif;}
/*estilos generales*/

header{
     padding: 0 60px 15px 60px;
     background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
/*listo*/

.navbar-toggler{
  width: 20%;
}
 
/*header*/




.background-nav{ 
    background-image: none
}

.background-logo{
    background-image: none
}

/*header ya pasado chequear*/

.carrousel-dimension{
    width: 80%;
    margin: 0 auto;
}

.carrousel-dimension2{
  width: 30%;
  margin: 0 auto;
}

/*esto lo tengo que agregar en el index q no lo cree aun*/

footer{
    
    padding: 25px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}

/*agregado a footer*/

#redes{
  display: flex;
  justify-content: space-evenly;
}
/*listo redes*/




#info{
    padding-top: 28px;
    text-align: center;
}
#info div{
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}
#info div a {
    text-decoration: none;
    font-weight: bold;
}
#info div a:visited,
#info div a:hover {
    color:black;
}

/*ya agregue todo esto*/


.redesIcono{
    width: 50px;
    height: 50px;
}
/*ya esta .redesIcono*/

#foto-centrada{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

h3 {
    font-size: medium;
}
body { background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));}
/*yaesta*/
main{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
/*ya esta*/

.columna{
    width: 45%;
    display: inline-block;
    padding: 6px;
    vertical-align: top;
}
#columna-izquierda div{
background-color: white;
padding: 4px;
}

.contenedorImagen{
    display: inline-block;
    padding: 20px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}

.contenedorQuienes{
    display: inline-block;
    padding: 25px;
    background-color: none;
}

.contenedorContacto{
    display: inline-block;
    padding: 25px;
    background-color: none;
}
.contenedorImagen.caja1{
    margin: 0 5px 5px 0;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen.caja2{
    margin: 0 0px 5px 5px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen.caja3{
    margin: 5px 5px 0 0;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen.caja4{
    margin: 5px 0 0 5px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen img{
    width: 250px;
    height: 250px;
}
.contenedorImagen p{
    text-align: center;
}

.imagen-mariana{
  margin-top: 80px;
}

.adicionales{
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;color: rgb(172, 71, 172);
  list-style: none;
}

.beneficios{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  font-size: 16px;
}

.extras{
  text-align: center;
}































/*medias querys*/

@media (min-width: 481px)
{ 
  .nav-link { 
    font-size: 14px;
  }
  

}

@media (min-width: 768px)
{
  #info{
    padding-top: 0px;
    text-align: left;
  }


}

@media (min-width: 1025px)
{ 
  .nav-link { 
    font-size: 22px;
    font-weight: bold;
  }
  
  

}
