*{
    margin: 0;
    padding: 0;
}
*{font-family: Arial, Helvetica, sans-serif;}

header{
     padding: 0 60px 15px 60px;
     background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}

.navbar-toggler{
  width: 20%;
}


#portada{
    padding: 4px;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}



#tituloPrincipal 
{
    text-align: center;
    color: rgb(0, 132, 255);
    font-size: 35px;
    margin: 10px 0;
}
.background-nav{ 
    background-image: none
}

.background-logo{
    background-image: none
}

.carrousel-dimension{
    width: 80%;
    margin: 0 auto;
}

.carrousel-dimension2{
  width: 50%;
  margin: 0 auto;
}

footer{
    
    padding: 25px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}



#redes{
  display: flex;
  justify-content: space-evenly;
}




#info{
    padding-top: 28px;
    text-align: center;
}
#info div{
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}
#info div a {
    text-decoration: none;
    font-weight: bold;
}
#info div a:visited,
#info div a:hover {
    color:black;
}



.redesIcono{
    width: 50px;
    height: 50px;
}

#foto-centrada{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

h3 {
    font-size: medium;
}
body { background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));}
main{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.columna{
    width: 45%;
    display: inline-block;
    padding: 6px;
    vertical-align: top;
}
#columna-izquierda div{
background-color: white;
padding: 4px;
}

.contenedorImagen{
    display: inline-block;
    padding: 20px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}

.contenedorQuienes{
    display: inline-block;
    padding: 25px;
    background-color: none;
}

.contenedorContacto{
    display: inline-block;
    padding: 25px;
    background-color: none;
}
.contenedorImagen.caja1{
    margin: 0 5px 5px 0;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen.caja2{
    margin: 0 0px 5px 5px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen.caja3{
    margin: 5px 5px 0 0;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen.caja4{
    margin: 5px 0 0 5px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
}
.contenedorImagen img{
    width: 250px;
    height: 250px;
}
.contenedorImagen p{
    text-align: center;
}





@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.nav-link{
  padding-left: 15px !important;
 
}

/*medias querys*/

@media (min-width: 481px)
{ 
  .nav-link { 
    font-size: 14px;
  }
  
 

}

@media (min-width: 768px)
{
  #info{
    padding-top: 0px;
    text-align: left;
  }


}

@media (min-width: 1025px)
{ 
  .nav-link { 
    font-size: 22px;
    font-weight: bold;
  }
  
  

}
