footer{ 
    padding: 25px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));
    
    & #redes{
        display: flex;
        justify-content: space-evenly;

        & .redesIcono{
            width: 50px;
            height: 50px;
        }
    }

    & #info{
        padding-top: 28px;
        text-align: center;

        @media (min-width: 768px){
            padding-top: 0px;
            text-align: left;
        }

        & div{
            margin-bottom: 10px;
            font-weight: bold;
            color: black;

            & a {
                text-decoration: none;
                font-weight: bold;
                
                &:visited,
                &:hover {
                    color: black;
                }
            }
        }

    }
        
}