


header {
    padding: 0 60px 15px 60px;
    background-image: linear-gradient(to top, rgb(209, 205, 205), rgb(178, 178, 248));

    & nav{
        background-image: none;

        & .background-logo{
            background-image: none;

            & .navbar-toggler{
                width: 20%;
            }
        }
    }
     
    & .nav-link{
        padding-left: 15px !important;
       
      }
}
