


header {
    padding: 0 60px 15px 60px;
    @include main-gradient;

    & nav{
        background-image: none;

        & .background-logo{
            background-image: none;

            & .navbar-toggler{
                width: 20%;
            }
        }
    }

    & .nav-link{
        padding-left: 15px !important;
        @media (min-width: 481px){
            font-size: 14px;
        }
        @media (min-width: 1025px){
            font-size: 22px;
            font-weight: bold;
        }
       
      }
}



