section {
    & .extras {
        text-align: center;
    }
    & .beneficios {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
        font-size: 16px;
    }
}









  
  