section{
    & .columna{
        width: 45%;
        display: inline-block;
        padding: 6px;
        vertical-align: top;
    }
        & #columna-izquierda div{
        background-color: white;
        padding: 4px;
        }
            & .contenedorQuienes{
                display: inline-block;
                padding: 25px;
                background-color: none;
            }
}










